.search-input {
    border-radius: .2rem;
    font-size: .875rem;
    border: 1px solid #ced4da;
    line-height: 1.5;
    margin-right: .5rem;
    outline: none;
}

.search-select {
    background-color: white;
    padding: .2rem;
}